       <div>
        {{!-- NAME BAR --}}
        <div id="name-plate">
       {{first_name}} {{last_name}}
       </div>
       {{!-- ICONS BAR --}}
        <div class="icons">
            {{#if has_children}}
            <i class="fa-solid fa-children"></i>
            {{/if}}
            {{#if has_pets}}
            <i class="fa-solid fa-paw-simple"></i>
            {{/if}}
            {{!-- {{#if}}{{/if}} --}}
        </div>
    {{!-- NOTES SECTION --}}
    <div class="notes_list">
        <ul>
            {{#each notes}}
            <li>{{this.note_text}}</li>
            {{/each}}
        </ul>
    </div>

        {{!-- EDIT BUTTONS --}}
       <a class="waves-effect waves-light btn">Edit Profile</a>
       <a class="waves-effect waves-light btn">Add Note</a>
       <a class="waves-effect waves-light btn">button</a>
       </div>



